<div class="container">
  <div class="page-header"><h1>Welcome to FLAMES game</h1></div>


  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="nameone" class="col-sm-3 control-label">Your Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="nameone" placeholder="Your Name">
      </div>
    </div>
    <div class="form-group">
      <label for="nametwo" class="col-sm-3 control-label">Crush Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="nametwo" placeholder="Name Of Your Crush">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <button type="submit" class="btn btn-danger btn-lg btn-block" onclick="rajan(); return false;">Calculate FLAMES</button>
      </div>
    </div>
  </form>
  <hr/>
  <div class="row">
    <div class="col-xs-12"><h1 id="output"></h1></div>
  </div>
</div>