<div class="container">
  <h1>About me</h1>
  <div class="row">
    <div class="col-md-12">

      <p>
      I am part of a  <a href="http://www.codeastra.com/">bootcamp</a> since November 17th. The bootcamp, called CodeAstra, is focussed on Rails, JQuery, Javascript, CSS and HTML. You can find an updated list of projects at the <%= link_to "portfolio", home_portfolio_path %>. You can expect a lot more projects by the end of 3 months. Our bootcamp has 70 hour work weeks.</p> 

      <p>
      I have been a team leader for several multi disciplinary projects. I will briefly list a summary of all the multidisciplinary projects I have led.

      <ul>
        <li>I was the team leader for the team which set up a lab in India which is planned, maintained and used by the students of IIT Madras. The lab had a budget of 80lakhs. Over 150 students actively participated in the lab. Some of the visitors to our lab include Carlos Ghoshn (global CEO of Renault Nissan), Lynn Evans(Director of Large Hedron Collider) and R. Chidambaram (scientific advisor to the Prime Minister) etc. </li>
        <li>I led a multidisciplinary team which built a completely automated quadrotor which can navigate indoors. We participated in the 2010 chapter of International Aerial Robotics competition in Puerto Rico.</li>
        <li>I was the manager and mentor for 9 large multi-disciplinary projects which were conducted as a part of Golden Jubilee celebrations in IIT Madras in 2008</li>
        <li>I was the first person to create a trend in IIT Madras by initiating what are called Spirit of Engineering projects in my freshmen year. This formed basis for all my other roles</li>
      </ul>
      </p> 

      <p>
        I have 3000 hours of experience of yoga. This lets me drive myself to the fullest without the possibility of getting "burnt out". For a detailed explanation on this  you can have a conversation with me.
      </p>


    </div>
  </div>
</div>

