
<div class= 'container' id="hometopcont">
  <div class= "row">
    <div class = "col-md-6" id = "texttop"><h2>I am a full stack developer who can build complex web applications for you</h2></div>
    <div class = "col-md-6" id="face"><%= image_tag("ravi.png") %></div>
  </div>
</div>

<div class="container" id = "homebottomcont">
  <div class="row">
    <div class="col-md-12">
      <p>
      My name is Ravikanth Andhavarapu.  I am an alumnus of IIT Madras. I bring a combination of three skills which you won't find anywhere else. You may be able to find the skills individually but you wont be able to find the combination anywhere else.
      <ul>
        <li>I am a full stack developer with expertise in Rails, JQuery, Javascript, CSS and HTML</li>
        <li>I have project management experience in handling various multi-disciplinary projects. The teams I led varied from 5 members to over 100 members.</li>
        <li>I can drive myself to the fullest without getting "burnt out". Because of the 3000 hours of effort I put in the past 4 years I can be both highly driven and balanced at the same time. </li>
      </ul>
      </p>
      To know more about my projects please visit my <%= link_to "portfolio", home_portfolio_path %>. To know more about me please <%= link_to "click here", home_about_path %>
      <p>
    </div>
  </div>
</div>
	
	
