
<div class="container" id="portfolio">
   <div class="page-header middle"><h2>Projects which potray my web development and project management experience</h2></div>

  I have experience in three different types of projects viz. web development, technical and semi-technical projects. I am listing down all the different projects I have done. I was the team leader for all the projects which are not in the field of web development.
  
  <h1 class = "middle">Web Development Projects</h1>
  <ul>
    <li><a href="https://github.com/helloravi">Git hub profile </a></li>
    <li><a href="https://bitbucket.org/helloravi">Bitbucket profile</a>(Almost everything here is private)</li>
  </ul>

  <h3 class = "middle">Project 1: Rhythm tapper</h3>
  <p>Rhythm tapper lets you train to the tune of the given music. It displays how accurately you are tapping to the music. The backend and the visualizer on the front end were written by me. The rest of the UI was written by Promod. The idea was concieved by Varun Saurya. The application was fine tuned to match the music by Sandeep. We plan to develop the application further.
  <a href="http://rhythmatic.herokuapp.com">Click here</a> to check out our music application</p>
  <p>
    <%= image_tag("rhythmscreenshot.png", :class=>"portfolio")%>
  </p>

   <h3 class = "middle">Project 2: Twitter Clone</h3>
  <p>As a precursor to learning web development in Rails. I made a twitter clone based on Michael Hartl Rails tutorial.You can find the link to the  <a href="https://ravihartl.herokuapp.com/">project here</a>.</p>
    <p>
    <%= image_tag("twitclone.png", :class=>"portfolio")%>
  </p>

  <h3 class = "middle">Project 3: FLAMES game in Javascript</h3>
  <p><%= link_to "Flames game", flames_jindex_path %> is a javascript based game deployed on rails. It takes two names and gives out the relationship based on an algorithm. As you can guess it is a fun game. </p>
  <p>
    <%= image_tag("flames.png", :class=>"portfolio") %>
  </p>


 


  <h1 class = "middle">Technical Project Management</h1>
  <h3 class = "middle">Project 1: Development of an autonomous aerial vehicle using Laser range finder</h3>
  <p>I was the team lead for a multidisciplinary team which worked on creating a quadrotor. The aim was to make the quadrotor move indoor with map creating intelligence. The flying vehicle is completely autonomous.</p>
  <div style="text-align:center;">
  <iframe style="margin:auto;" width="900" height="675" src="//www.youtube.com/embed/xLhBeVuuon0" frameborder="0" allowfullscreen></iframe>
  </div>
  <h3 class = "middle">Project 2: Unmanned fixed wing airplane</h3>
  <p>This project is the first flying project of IIT Madras. It was covered by NDTV prime time news.</p>
  <%= image_tag("wanttofly.jpg", :class=>"portfolio") %>

  
  <h1 class = "middle">Semi-Technical Project Management</h1>
  <h3 class = "middle">Project 1: Centre For Innovation(CFI)</h3>
  <p>I was the student in charge of setting up the first lab of the country which is entirely managed by students. The following picture was taken during the visit of Mr. Carlos Ghoshn(global CEO of Renault Nissan) to CFI</p>
  <%= image_tag("1carlosghoshn.jpg", :class=>"portfolio") %>

  <h3 class = "middle">Project 2: Manager and mentor for over 9 projects</h3>
  <p>I was the student manager and mentor for all the projects in the video which were done after 2008.</p>
  <div style="text-align:center;">
  <iframe style="margin:auto;" width="900" height="625" src="//www.youtube.com/embed/3o2sgBbkvpY" frameborder="0" allowfullscreen></iframe>
  </div>

  <h2>Watch out for updates on this space!</h2>




</div>



