@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lovers+Quarrel);
@import url(http://fonts.googleapis.com/css?family=Allan);
@import url(http://fonts.googleapis.com/css?family=Raleway:400);

body {
  font-size: 1.75em;
}
.navbar-default{
  background-color: #FFFFFF;
  // font-family: 'Allan', cursive;
  font-family: 'Raleway', sans-serif;
  // font-size: 20px
}

 .nav .active a {
  background:#FFF!important;
  font-weight: bold;
  font-style: italic;
  // font-family: 'Allan', cursive;
  // font-size: 18px;

}

// .navbar-default .navbar-nav .active a:focus {
//   background-color: #FFFFFF;
// }

#myname {
  font-family: 'Lovers Quarrel', cursive;
  font-size: 50px;
  color: black;

}

.maincontent {
  margin-top: 70px;
}

.middle {
  text-align:center;
}

/*.backimage{
  background-image: image-url("1.jpg");
  z-index: -1;
  opacity: 0.7;
  vh: 100;
}*/

#texttop{
  top:30%;
  /*position: absolute;*/
  margin-top: 10%;
  text-align: center;
  display: inline-block;
  z-index: 1;
}

#face .img{
  display:inline-block;
  z-index: 0;
}
.portfolio {
  display:block;
  width:900px;
  margin:auto;
}

#hometopcont{
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
}

#homebottomcont {
  margin-top: 50px;
}