<!DOCTYPE html>
<html>
<head>
  <title>Ravikanth | Full Stack Web Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container"> 
        <%= link_to "Ravikanth Andhavarapu", root_path, class: "navbar-brand", id: "myname" %>
        <button class="navbar-toggle" data-toggle="collapse" data-target = "#navbarCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div id="navbarCollapse" class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <%= nav_items %>
            </ul>
        </div>

      </div>
    </nav>

<div class="maincontent">

<%= yield %>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54776154-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
